body {
    cursor: url(https://cdn.jsdelivr.net/gh/zhanghuge/pict@mouse/blog/mousex.png), auto;
}

.hide-block>.hide-button.open,
.hide-inline>.hide-button.open {
    display: block;
}

a,
button,
img {
    cursor: url(https://cdn.jsdelivr.net/gh/zhanghuge/pict@mouse/blog/mousey.png), auto;
}