@font-face {
    font-family: "iconfont";
    /* Project id 3401755 */
    src: url("//at.alicdn.com/t/font_3401755_hefx8mwu2b.woff2?t=1652576194973") format("woff2"), url("//at.alicdn.com/t/font_3401755_hefx8mwu2b.woff?t=1652576194973") format("woff"), url("//at.alicdn.com/t/font_3401755_hefx8mwu2b.ttf?t=1652576194973") format("truetype");
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-qq:before {
    content: "\e6da";
    font-size: 19px;
    color: rgb(16, 164, 255);
}

.icon-weixin:before {
    content: "\e6ea";
    font-size: 22px;
    color: #00bf03;
}

.icon-safari-pinned-tab:before {
    content: "\e601";
    font-size: 19px;
    color: rgb(217, 248, 255);
}

.icon-guifan:before {
    content: "\e617";
    font-size: 19px;
    color: rgb(217, 248, 255);
}

.icon-xiewenzhang:before {
    content: "\e645";
    font-size: 19px;
    color: rgb(217, 248, 255);
}

.icon-_biaoqian-:before {
    content: "\e609";
    font-size: 19px;
    color: rgb(217, 248, 255);
}

.icon-_zhuye:before {
    content: "\e60e";
    font-size: 19px;
    color: rgb(217, 248, 255);
}

.icon-bianchengkaifa:before {
    content: "\e639";
    font-size: 19px;
    color: rgb(217, 248, 255);
}

.icon-falvfagui:before {
    content: "\e603";
    font-size: 19px;
    color: rgb(217, 248, 255);
}

.icon-shiguangjix:before {
    content: "\e635";
    font-size: 19px;
    color: rgb(217, 248, 255);
}

.icon-guanyu:before {
    content: "\e60c";
    font-size: 19px;
    color: rgb(217, 248, 255);
}

.icon-sousuo:before {
    content: "\e608";
    font-size: 19px;
    color: rgb(217, 248, 255);
}

.icon-fenlei:before {
    content: "\e66d";
    font-size: 19px;
    color: rgb(217, 248, 255);
}

.icon-youqinglianjie:before {
    content: "\e66c";
    font-size: 19px;
    color: rgb(217, 248, 255);
}

.icon-liebiao:before {
    content: "\ecae";
    font-size: 19px;
    color: rgb(217, 248, 255);
}